<div class="mainPage" resize ng-hide="$state.includes('main.photo')">
  <!-- TODO change filter/sort do like PLEX -->
  <div class="filter" ng-show="showFilter">
    <uib-tabset>
      <uib-tab index="0" heading="Filtrer">
        <input type="text" placeholder="Filtre" ng-model="filter.text" size="25"/>
        <button ng-click="filter.text = ''">Effacer</button>
        <br/>
        <br/>
        Photo prise entre le :<br/>
        <input type="date" ng-model="filter.dateStart"/><br/>
        et le<br/>
        <input type="date" ng-model="filter.dateEnd"/><br/>
        <br/>
        Photo ajoutée entre le :<br/>
        <input type="date" ng-model="filter.dateLastModifiedStart"/><br/>
        et le<br/>
        <input type="date" ng-model="filter.dateLastModifiedEnd"/><br/>
        <br/>
        Résolution comprise entre :<br/>
        <input type="number" style="width:50px;" ng-model="filter.resolutionMin"/>
        et
        <input type="number" style="width:50px;" ng-model="filter.resolutionMax"/> Mpx<br/>
        <br/>
        Sélectionnée ? <input type="checkbox" ng-model="filter.selected"/><br/>
        <span ng-if="filter.selected">
          Afficher les photos avec une date de selection innconue ? <input type="checkbox" ng-model="filter.selected0"/><br/>
          <br/>
          Sélectionnée entre le :
          <input type="date" ng-model="filter.dateSelectedStart"/><br/>
          et le<br/>
          <input type="date" ng-model="filter.dateSelectedEnd"/><br/>
          <br/>
        </span>
        <button
          ng-click="reset()">
          Effacer tous les filtres
        </button>
        <br/>
        {{nbrPhotosFiltered}}/{{nbreTotalPhotos}}
      </uib-tab>
      <uib-tab index="1" heading="Trier">
        <p>
          <a ng-click="sort('date')" ng-class="{bold : sortField == 'date'}">
            <span ng-if="sortField == 'date'" class="glyphicon" ng-class="sortDesc ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
            Date de prise de vue
          </a><br/>
          <a ng-click="sort('dateLastModified');" ng-class="{bold : sortField == 'dateLastModified'}">
            <span ng-if="sortField == 'dateLastModified'" class="glyphicon"
                  ng-class="sortDesc ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
            Date d'ajout (modification)
          </a><br/>
          <a ng-click="sort('path');" ng-class="{bold : sortField == 'path'}">
            <span ng-if="sortField == 'path'" class="glyphicon" ng-class="sortDesc ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
            Dossier
          </a><br/>
          <a ng-click="sort('size');" ng-class="{bold : sortField == 'size'}">
            <span ng-if="sortField == 'size'" class="glyphicon" ng-class="sortDesc ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
            Taille
          </a><br/>
          <a ng-click="sort('width');" ng-class="{bold : sortField == 'width'}">
            <span ng-if="sortField == 'width'" class="glyphicon" ng-class="sortDesc ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
            Largeur
          </a><br/>
          <a ng-click="sort('height');" ng-class="{bold : sortField == 'height'}">
            <span ng-if="sortField == 'height'" class="glyphicon" ng-class="sortDesc ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
            Hauteur
          </a><br/>
          <a ng-click="sort('resolution');" ng-class="{bold : sortField == 'resolution'}">
            <span ng-if="sortField == 'resolution'" class="glyphicon"
                  ng-class="sortDesc ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
            Résolution
          </a><br/>
        </p>
      </uib-tab>
    </uib-tabset>
    <div class="close" ng-click="showFilter = false">X</div>
  </div>

  <nav class="navbar navbar-default subMenu">
    <ul class="nav navbar-nav">
      <li class="active"><a snap-toggle="left">Menu</a></li>
      <li><a ng-click="showFilter = true">Filtrer</a></li>
    </ul>
  </nav>

  <div ng-if="loading">
    {{loading}}
  </div>
  <div ng-hide="loading" vs-repeat style="overflow: auto;"
       ng-style="{height : listPhotosDivHeight}"
       class="photosList">
    <div ng-repeat="line in listPhotosToDisplay" class="line">
      <a ng-repeat-start="photoLight in line" class="photo">
        <img ng-src="{{urlThumbnail}}?path={{photoLight.path | urlEncode}}&height={{photoLight.heightThumbnail}}"
             height="{{photoLight.heightThumbnail}}"
             width="{{photoLight.widthThumbnail}}" title="{{photoLight | json}}" ui-sref="main.photo(photoLight)"/>
        <span class="selected" ng-show="photoLight.selected !== null">★</span>
      </a>
      <a ng-repeat-end></a>
    </div>
  </div>
</div>
<ui-view></ui-view>
